body { font-family: Arial, sans-serif;  margin: 0; padding: 0; }
.app-container { text-align: center;}
.header { padding: 15px; color: black; display: flex; align-items: center; justify-content: space-between; }
.logo { margin-right: 10px; }
.main-content { display: flex; justify-content: center; align-items: center; height: calc(100vh - 350px); }
.login-container { background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 100%; max-width: 700px; color: #000000; border: 1px solid #ccc; }
.login-container h2 { margin-top: 0; }
.login-container h3 { margin-top: 10px; margin-bottom: 20px; }
.login-form { display: flex; flex-direction: column; }
.login-form label { margin-bottom: 5px; text-align: left; }
.login-form input, .login-form select { margin-bottom: 15px; padding: 10px; border: 1px solid #bee9d9; border-radius: 4px; }
.login-form select { cursor: pointer; }
.form-footer { display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px; }
.remember-me { display: flex; align-items: center; }
.remember-me input { margin-right: 5px; }
.forgot-password { color: skyblue; text-align: right; }
.forgot-password:hover { text-decoration: underline; }
.register-link{ color: skyblue; text-align: center; }
.register-link:hover { text-decoration: none; }
.login-form button { padding: 10px; background-color: #04aa6d; color: #ffffff; border: none; border-radius: 4px; cursor: pointer; }
.login-form button:hover { background-color: #53ebae; }

/* Dashboard.css */
.dashboard { display: flex; flex-direction: column; height: auto; }
.dashboard-header { display: flex; justify-content: space-between; align-items: center; padding: 0px 25px; background-color:black; color: white; }
.dashboard-main { display: flex; flex: 1; overflow: hidden; }
.dashboard-sidebar { width: 250px;  padding: 20px; flex-shrink: 0; transition: width 0.1s ease; }
.dashboard-sidebar ul { list-style-type: none; padding: 0; margin: 0; }
.dashboard-sidebar li {margin: 10px 0;padding: 10px;border: 1px solid #ccc; cursor: pointer;} 
.dashboard-content { flex: 1; background-color: #fff; padding: 20px; }
.dashboard-main.sidebar-closed .dashboard-sidebar { width: 0; padding: 0; }
@media (max-width: 768px) { .dashboard-main { flex-direction: column; } .dashboard-sidebar { width: 100%; margin-top: 0; padding: 10px; } .dashboard-content { padding: 20px; } .dashboard-main.sidebar-closed .dashboard-sidebar { width: 0; padding: 0; } }

/*jobdesk*/
.jobdesk-container { display: flex; flex-direction: column; gap: 20px; padding: 20px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
.filter-section { display: flex; justify-content: space-between; align-items: center; }
.month-year {display: flex; gap: 10px; justify-content: flex-end;}
.arrow-button {cursor: pointer;font-size: 20px;color: black;}
.employee-details-container { display: flex; gap: 20px; padding: auto;}
.options-content-container { display: flex; gap: 10px; }
.employee-details { flex: 1; display: flex; flex-direction: column; gap: 25px; padding: auto; } 
.details-line { display: flex; gap: 20px; }
.detail-container { flex: 1;}
.detail-label { font-weight: bold; }
.details-content {padding: 10%; flex:2; padding: 5px; list-style-type: none;}
.options-list { width: 200px;}
.options-list ul { list-style-type: none; padding: 0;}
.options-list ul li { margin: 10px 0; cursor: pointer; padding: 10px; border: 1px solid #ccc; border-radius: 4px; }
.options-list ul li.active { font-weight: bold; background-color: #f0f0f0; }
.attendance-section { display: flex; gap: 20px; }
.graph-container { flex:1;}
.attendance-stats { flex: 1; display: flex; flex-direction: column; gap: 20%;justify-content: center;text-align: justify;text-align: center; }
.attendance-stat-row { display: flex; gap: 10%; align-items: center; justify-content: space-between;}
@media (max-width: 768px) { .employee-details-container { flex-direction: column; } .options-content-container { flex-direction: column; } .attendance-section { flex-direction: column; } .attendance-stat-row { flex-direction: column; gap: 10px; } }

/*all employee*/
table { width: 100%; border-collapse: collapse; margin: 10px 0; font-size: 18px; text-align: center; }
thead tr { background-color: black; color: white; }
th, td {padding: 10px; border: 1px solid #ddd; }
tbody tr:nth-child(even) { background-color: #f2f2f2; }
tbody tr:nth-child(odd) { background-color: #ffffff; }
tbody tr:hover { background-color: #f1f1f1; }
button { margin: 2px; border: none; border-radius: 4px; cursor: pointer;  }
button:hover { opacity: 0.8; }
button.edit { background-color: #4CAF50; color: white; }
button.delete { background-color: #f44336; color: white; }
button.save { background-color: #2196F3; color: white; }
button.cancel { background-color: #9E9E9E; color: white; }
input[type="text"] { border: 1px solid #ddd; }

.employee-status .header { display: flex; justify-content: flex-end;  }
.employee-status .statistics { display: flex; justify-content: space-between; }
.stats-box { flex: 1; border: 1px solid #ddd; margin: 2px; text-align: center; }
.charts { display: flex; justify-content: space-between; padding-top: 20px; }
.bar-chart, .pie-chart { flex: 1; padding:2px; border: 1px solid #ddd; margin: 3px; text-align: center; }
.checkbox-container{ align-items: flex-end; text-align: end;}
